* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.wrapper {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  font-size: medium;
}

.wrapper, .category-section {
  display: flex;
  flex-wrap: wrap;
}

.category-section {
  justify-content: center;
  background-color: #4EA49E;
  padding: 0.8em 0.75em;
  width: 30%;
  flex-grow: 1;
  z-index: 1;
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 2.4em;
  justify-content: space-evenly;
  height: 100%;
  flex-grow: 5;
}

.grey-button {
  border: none;
  border-radius: 3px;
  width: 10.5em;
  color: #707070;
  padding: 0.8em 2em;
  margin: 0.75em;
  font-size: medium;
  font-weight: 550;
  letter-spacing: 0.5px;
  box-shadow: 0 0 3px #0000004d;
  cursor: pointer;
}

form input, .blue-button {
  border: 1px solid #4EA49E;
  border-radius: 4px;
  height: 2em;
  margin: 0.6em;
}

.blue-button {
  background: #4EA49E;
  padding: 0.7em 1.8em;
  height: max-content;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2px;
  cursor: pointer;
  border: 0;
}

.main-section > button {
  margin: 1.6em auto;
}

.blue-button:hover {
  background: #499994;
  transition: 0.3s;
}

.button {
  align-self: center;
  text-align: center;
}

.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid #000;
  height: calc(23.5em - 11vw);
  overflow-y: scroll;
}

.grid-item {
  border: 1px solid #000;
  height: 3em;
  padding: 10px 5px;
}

.grid-item a {
  padding: 0 0.6em;
}

.grid-header {
  font-weight: 500;
  color: #707070;
  background-color: #eee;
  position: sticky;
  top: 0;
}

.add-form > p {
  color: #4EA49E;
  font-weight: 500;
  font-size: small;
  text-align: left;
  width: 50%;
  margin: 0.4em auto;
}

.add-form {
  text-align: right;
}

form {
  padding: 0.8em 0.6em;
  border-radius: 6px;
  box-shadow: 0 0 6px #55555573;
  margin: 0 auto;
  max-width: 52%;
}

form label {
  display: inline;
  color: #707070;
  font-weight: 600;
  margin-left: auto;
  width: max-content;
}

.input-field {
  width: 80%;
}

a:visited {
  color: #ff0000;
}

a:hover {
  color: #ce3030;
}

a:active {
  color: #6495ed;
}

@media only screen and (max-width:627px) {
  .main-section {
    width: 100%;
  }
}